<%# <p id="notice"><%= notice %>

<%# <p> %>
  <%# <strong>Title:</strong> %>
  <%# <%= @archivedpost.title %> 
<%# </p> %>

<%# <p>
  <strong>Body:</strong>
  <%= @archivedpost.body %> 
<%# </p> %>

<%# <p>
  <strong>User:</strong>
  <%= @archivedpost.user_id %>
<%# </p>  %>

<%# <%= link_to 'Edit', edit_archivedpost_path(@archivedpost) %> 
<%# <%= link_to 'Back', archivedposts_path %>
