<%= form_for(@micropost) do |f| %>

    <% if @micropost.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@micropost.errors.count, "error") %> prohibited this blog post from being saved:</h2>

            <ul>
                <% @micropost.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.text_field :title, placeholder: "Title..."%>
    </div>

    <div class="field">
        <%= f.text_area :content, placeholder: "Blog text..." %>
    </div>

    <%= f.submit "Publish Blog Post", class: "btn btn-primary" %>

<% end %>