<%# <o1 class="microposts">

    <%= render @microposts %>
 
<%# </o1>  %> 

<%# <li id="micropost-<%= micropost.id %>">
    <%# <%= link_to gravatar_for(micropost.user, size: 10), micropost.user %> 
    
    <%# <span class="title"> Blog <%= micropost.id%>
    <%# <br></br>  %>
    <%# <span class="content"><%= micropost.content</span> %> 
    <%# <br></br> %>
    <%# <span class="timestamp"> %>
        <%# Posted <%= Time.at(micropost.created_at) %> 
        <%# by <%= @user.email%> 
    <%# </span> %>
    
<%# </li> %> 

<%# <div class="title">
    <%= form.label :title %>
    <%# <%= form.text_field :title %> 
<%# </div> %>

<%# <div class="content"> %>
    <%# <%= form.label :content %> 
    <%# <%= form.text_area :content %> 
<%# </div> %>

<%# <div class="publish_button"> %>
    <%# <%= form.submit "Post"%> 
<%# </div> %> 

