<%# <o1 class="microposts">

    <%= render @micropost %>
<%# 
<%# </o1> %> 

<li id="micropost-<%= micropost.id %>">
    <%# <%= link_to gravatar_for(micropost.user, size: 10), micropost.user %> 
    
    <span class="content"><%= micropost.content %></span>
    <span class="timestamp">
        Posted <%= Time.at(micropost.created_at) %> 
    </span>
</li>