<%= form_for(@micropost) do |f| %>

    <% if @micropost.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@micropost.errors.count, "error") %> prohibited this blog post from being saved:</h2>

        <ul>
            <% @micropost.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title%>
    </div>

    <div class="field">
        <%= f.label :content%>
        <%= f.text_area :content %>
    </div>

    <div class="actions">
        <%= f.submit "Publish Blog Post", class: "btn btn-primary" %>
    </div>

<% end %>