<p id="notice"><%= notice%></p>


<h1><%= @archived ? "Archived " : "Blog " %>Posts</h1>

<% if logged_in? %>

    <li class="postcreation ">

        <%= link_to "Back to Profile", current_user %>

    </li>
<% end %>

<table>

    <tbody>
        <% @microposts.each do |micropost| %>
            <tr>
                <br></br>
                <b><%= "Title: " %></b>
                <%= micropost.title %>
                <br></br>
                <b><%= "Summary: "%></b>
                <%= micropost_summary(micropost) %>
                <br></br>
                <b><%= "Created on: "%></b>
                <%= micropost.created_at %>
                <b><%= " By: "%></b>
                <%= User.find_by_id(micropost.user_id).email%>
                <br></br>
                <b><%= "Updated at: "%></b>
                <%= micropost.updated_at %>
                <br></br>
                <%= link_to 'Show', micropost%>
                <% if logged_in? %>
                    <div class="edit_post">
                        <%= link_to "Edit", edit_micropost_path(micropost) %>
                    </div>
                    <div class="delete_post">
                        <%= link_to 'Delete', micropost, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                <% end %>
                <br></br>
            </tr>
        <% end %>
    </tbody>
</table>
