<center><%= react_component("Home", {title: "Welcome to My Blogging Engine"}) %></center>

<center><%= react_component("Home", {content: "You can Create an Account and Login below or View Blog Posts as a Guest!"})%></center>

<br></br>

<div class="all_btns">
    <div id="user_btn">
        <%= button_to "Create User", new_user_path, class: 'create_btn', :method => :get%> 
        <%= button_to "Log In", login_path, class: 'login_btn', :method => :get %>
    </div>

    <br></br>

    <div id="post_btns">
        <%= button_to "View Blog Posts", microposts_path, class: 'posts_btn', :method => :get %>
        <%= button_to "View Archive", microposts_path(@micropost, :archived => 'true'), class: 'archived_btn', :method => :get %>
    </div>
</div>

<br></br>
<br></br>

<div class="home_panda">
    <center><img src="https://miro.medium.com/max/1275/1*6d5dw6dPhy4vBp2vRW6uzw.png"style="width:1000px,height:600px"><center>
</div>

