<div class="navbar">
  <strong><u><%= link_to "Create Blog Post", new_micropost_url %></u></strong>
  <strong><u><%= link_to "View Blog Posts", microposts_path%></u></strong>
  <strong><u><%= link_to "View Archived Posts", microposts_path(@micropost, :archived => 'true')%></u></strong>
  <strong><u><%= link_to "Edit Profile", edit_user_url%></u></strong>
  <strong><u><%= link_to "Log out", logout_path, method: "delete" %></u></strong>
</div>

<%= react_component("Users", {title: "Your Profile Details"}) %>

<div class="user_info">
  <%= react_component("Users", {userInfoType: "First Name: "})%>
  <%= react_component("Users", {userDetails: @user.first_name})%>

  <%= react_component("Users", {userInfoType: "Second Name: "})%>
  <%= react_component("Users", {userDetails: @user.second_name})%>

  <%= react_component("Users", {userInfoType: "Email: "})%>
  <%= react_component("Users", {userDetails: @user.email})%>
</div>

<div class="panda">
  <img src="https://www.natgeokids.com/wp-content/uploads/2014/04/panda-facts-6-1.jpg">
</div>
